$d-grey1: #212529;
$d-grey2: #343a40;
$d-grey3: #495057;
$d-grey4: #6c757d;

$d-white1: #f8f9fa;
$d-white2: #e9ecef;
$d-white3: #dee2e6;
$d-white4: #ced4da;

$d-green1: #03440c;
$d-green2: #036016;
$d-green3: #04773b;
$d-green4: #058e3f;
$d-green5: #069e2d;