<div class="wrapper">
    <form [formGroup]="signinForm" (ngSubmit)="signIn()">
      <div class="wrapper-group">
        <label>Username</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Enter username"
          required
        />
      </div>
      <div class="wrapper-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn">Sign in</button>
    </form>
  </div>