<div class="wrapper">
    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
      <div class="wrapper-group">
        <label>Username</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Enter username"
          required
          minlength="3"
        />
      </div>
      <div class="wrapper-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="wrapper-group">
        <label>Access Key</label>
        <input
          type="password"
          formControlName="accessKey"
          placeholder="Enter access key"
          required
        />
      </div>
      <button type="submit" class="btn">Sign up</button>
    </form>
  </div>